    <tbody>
    <% @semesters.each do |semester| %>
    <%if semester.user_id == current_user.id%>
      <thead class="thead-dark">
        <tr>
          <th colspan="5"><%= semester.term %> <%= semester.year %> &emsp; &emsp; &emsp; &emsp; Total Credits: <%= semester.credit_sum %>
            <% totalcredithours =0%>
            <% totalgradepointstimescredithours = 0%>
            <% semester.courses.each do |course|%>
              <% totalcredithours = totalcredithours + course.credits%>
              <% if course.grade == "A"%>
                <% totalgradepointstimescredithours = totalgradepointstimescredithours + course.credits*4.00%>
              <% elsif course.grade == "A-"%>
                <% totalgradepointstimescredithours = totalgradepointstimescredithours + course.credits*3.70%>
              <% elsif course.grade == "B+"%>
                <% totalgradepointstimescredithours = totalgradepointstimescredithours + course.credits*3.33%>
              <% elsif course.grade == "B"%>
                <% totalgradepointstimescredithours = totalgradepointstimescredithours + course.credits*3.00%>
              <% elsif course.grade == "B-"%>
                <% totalgradepointstimescredithours = totalgradepointstimescredithours + course.credits*2.70%>
              <% elsif course.grade == "C+"%>
                <% totalgradepointstimescredithours = totalgradepointstimescredithours + course.credits*2.30%>
              <% elsif course.grade == "C"%>
                <% totalgradepointstimescredithours = totalgradepointstimescredithours + course.credits*2.00%>
              <% elsif course.grade == "C-"%>
                <% totalgradepointstimescredithours = totalgradepointstimescredithours + course.credits*1.70%>
              <% elsif course.grade == "D+"%>
                <% totalgradepointstimescredithours = totalgradepointstimescredithours + course.credits*1.30%>
              <% elsif course.grade == "D"%>
                <% totalgradepointstimescredithours = totalgradepointstimescredithours + course.credits*1.00%>
              <% elsif course.grade == "D-"%>
                <% totalgradepointstimescredithours = totalgradepointstimescredithours + course.credits*0.70%>
              <% else%>
                <% totalgradepointstimescredithours = totalgradepointstimescredithours + course.credits*0%>
              <% end %>
            <% end %>
              <% if totalcredithours == 0 %>
               &emsp; &emsp; &emsp; &emsp; GPA: 0
              <% else %>
                &emsp; &emsp; &emsp; &emsp; GPA: <%= number_with_precision(totalgradepointstimescredithours/totalcredithours, :precision => 2) %>
              <% end %>
          </td>
          <th>
            <div>
              <%= link_to 'Show', semester, :class => "btn btn-light"%>
              <%= link_to 'Edit', edit_semester_path(semester),:class => "btn btn-light"%>
              <%= link_to 'Destroy', semester, method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-light" %>
            </div>
          </th>
        </tr>
      </thead>
        <tr>
          <th>Class</th>
          <th>Department</th>
          <th>Professor</th>
          <th>Credit Hours</th>
          <th>Grade</th>
        </tr>
        <% semester.courses.each do |course| %>
          <tr>
            <td><%= course.course_name %></td>
            <td><%= course.department %></td>
            <td><%= course.instructor %></td>
            <td><%= course.credits %></td>
            <td><%= course.grade %></td>
            <td><%= link_to 'Show', semester, :class => "btn btn-light"%>
              <%= link_to 'Edit', edit_semester_path(semester),:class => "btn btn-light"%>
              <%= link_to 'Destroy', semester, method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-light" %></td>
          </tr>
        <% end %>
    <% end %>
    <% end %>
    </tbody>