<p id="notice"><%= notice %></p>

<h1 class="jumbotron">Semesters</h1>
<div class="container">
  <nav class="nav navbar-nav navbar-right">
      <div>
        <%= link_to 'Add Courses', new_course_path,:class => "btn btn-primary"%>
        <%= link_to 'New Semester', new_semester_path,:class => "btn btn-primary"%>
      </div>
  </nav>
</div>

<table>
  <div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>User</th>
        <th>Term</th>
        <th>Year</th>
        <th>Total credits</th>
        <th>GPA</th>
        <th>Actions</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
    <% @semesters.each do |semester| %>
      <tr>
        <td><%= semester.user_id %></td>
        <td><%= semester.term %></td>
        <td><%= semester.year %></td>
        <td><%= semester.credit_sum %></td>
        <% totalcredithours =0%>
        <% totalgradepointstimescredithours = 0%>
        <td>
          <% semester.courses.each do |course|%>
            <% totalcredithours = totalcredithours + course.credits%>
            <% if course.grade == "A"%>
              <% totalgradepointstimescredithours = totalgradepointstimescredithours + course.credits*4.00%>
            <% elsif course.grade == "A-"%>
              <% totalgradepointstimescredithours = totalgradepointstimescredithours + course.credits*3.70%>
            <% elsif course.grade == "B+"%>
              <% totalgradepointstimescredithours = totalgradepointstimescredithours + course.credits*3.33%>
            <% elsif course.grade == "B"%>
              <% totalgradepointstimescredithours = totalgradepointstimescredithours + course.credits*3.00%>
            <% elsif course.grade == "B-"%>
              <% totalgradepointstimescredithours = totalgradepointstimescredithours + course.credits*2.70%>
            <% elsif course.grade == "C+"%>
              <% totalgradepointstimescredithours = totalgradepointstimescredithours + course.credits*2.30%>
            <% elsif course.grade == "C"%>
              <% totalgradepointstimescredithours = totalgradepointstimescredithours + course.credits*2.00%>
            <% elsif course.grade == "C-"%>
              <% totalgradepointstimescredithours = totalgradepointstimescredithours + course.credits*1.70%>
            <% elsif course.grade == "D+"%>
              <% totalgradepointstimescredithours = totalgradepointstimescredithours + course.credits*1.30%>
            <% elsif course.grade == "D"%>
              <% totalgradepointstimescredithours = totalgradepointstimescredithours + course.credits*1.00%>
            <% elsif course.grade == "D-"%>
              <% totalgradepointstimescredithours = totalgradepointstimescredithours + course.credits*0.70%>
            <% else%>
              <% totalgradepointstimescredithours = totalgradepointstimescredithours + course.credits*0%>
            <% end %>
          <% end %>
            <% if totalcredithours == 0 %>
              <%= 0 %>
            <% else %>
              <%= totalgradepointstimescredithours/totalcredithours %>
            <% end %>
        </td>
        <td><%= link_to 'Show', semester, :class => "btn btn-light"%></td>
        <td><%= link_to 'Edit', edit_semester_path(semester),:class => "btn btn-light"%></td>
        <td><%= link_to 'Destroy', semester, method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-light" %></td>
      <% semester.courses.each do |course| %>
        <tr>
          <td><%= course.semester_id %></td>
          <td><%= course.course_name %></td>
          <td><%= course.department %></td>
          <td><%= course.instructor %></td>
          <td><%= course.credits %></td>
          <td><%= course.grade %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
</table>

