<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @semester.user_id %>
</p>

<p>
  <strong>Season:</strong>
  <%= @semester.season %>
</p>

<p>
  <strong>Year:</strong>
  <%= @semester.year %>
</p>

<p>
  <strong>Total credits:</strong>
  <%= @semester.total_credits %>
</p>

<%= link_to 'Edit', edit_semester_path(@semester) %> |
<%= link_to 'Back', semesters_path %>
