<div class="center jumbotron">
  <% if !logged_in? %>
      <h1>Grade Report App</h1>
      <%= link_to "Sign up now!", 'signup', class: "btn btn-lg btn-primary" %>
  <% else %>
      <h1><%= current_user.username %></h1>
      <%= render 'shared/gpa' %>
      <div align = "center">
        <%= render 'progress_bar' %>
        <p><%= @credits %>/120 Credits</p>
      </div>
  <% end %>
</div>
